version: '3.8'

services:
  mongo:
    image: mongo:latest
    container_name: mongo_db
    ports:
      - '27017:27017'
    volumes:
      - mongo_data:/data/db

  app:
    build: .
    container_name: streamlit_app
    ports:
      - '8501:8501'
    depends_on:
      - mongo

volumes:
  mongo_data:
